.settings/
.project
.classpath
StaffParticles-1.13/.settings/
StaffParticles-1.13/.project
StaffParticles-1.13/.classpath
StaffParticles-1.13/target/
StaffParticles-1.14/.settings/
StaffParticles-1.14/.project
StaffParticles-1.14/.classpath
StaffParticles-1.14/target/
